<section id="about" class="mb-5">

    <h2 class="mb-4">About Me</h2>

    <div class="card shadow p-4">

        <p>
            I am <strong>Angelica Joyce Leaño</strong>, a Bachelor of Science in Information Technology (BSIT) student. I am passionate about learning programming, web development, and creating user-friendly applications. I enjoy improving my technical skills through school projects and personal practice.
        </p>

        <p>
            My goal is to become a professional software developer who can build modern and responsive web applications. Aside from coding, I enjoy exploring new technologies, working with classmates on projects, and continuously learning to become a better IT professional.
        </p>

        <h5 class="mt-4">Educational Background</h5>

        <ul>
            <li>Bachelor of Science in Information Technology (BSIT)</li>
            <li>Current College Student</li>
        </ul>

        <h5 class="mt-4">Career Goal</h5>

        <p>
            To become a skilled Full-Stack Web Developer and contribute to innovative software solutions.
        </p>

        <h5 class="mt-4">Personal Interests</h5>

        <ul>
            <li>Web Development</li>
            <li>Programming</li>
            <li>Learning New Technologies</li>
            <li>Listening to Music</li>
        </ul>

    </div>

</section>