

<section id="contact" class="mb-5">

    <h2 class="mb-4">Contact Me</h2>

    <div class="card shadow p-4">

        <p><strong>Email:</strong> ajlleano13@gmail.com</p>

        <p><strong>Mobile:</strong> 09935865995</p>

        <p><strong>GitHub:</strong> https://github.com/ajlleano13-sys</p>

        <p><strong>LinkedIn:</strong> https://www.linkedin.com/</p>

        <p><strong>Facebook:</strong> https://www.facebook.com/</p>

        <button class="btn btn-success mt-3">
            Download Resume
        </button>

    </div>

</section>