@{
    ViewData["Title"] = "Home Page";
}

<section id="home" class="mb-5">

    <div class="row align-items-center">

        <div class="col-md-4 text-center">

            <img src="~/images/profile.jpg.jfif"
                 class="img-fluid rounded-circle"
                 width="250"
                 alt="Profile Photo">

        </div>

        <div class="col-md-8">

            <h1>Angelica Joyce Leaño</h1>

            <h3>BS Information Technology Student</h3>

            <p>
                Hello! I'm an aspiring software developer who enjoys creating
                websites and learning new technologies.
            </p>

            <a href="#projects" class="btn btn-primary me-2">View Projects</a>

            <a href="#contact" class="btn btn-success">Contact Me</a>

        </div>

    </div>

