<div class="container py-5">

    <h2 class="text-center mb-5">
        Technical Skills
    </h2>

    <div class="row">

        <div class="col-md-3">

            <div class="card shadow h-100">

                <div class="card-body">

                    <h4>Programming</h4>

                    <p>@ViewData["PL"]</p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow h-100">

                <div class="card-body">

                    <h4>Web</h4>

                    <p>@ViewData["WT"]</p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow h-100">

                <div class="card-body">

                    <h4>Database</h4>

                    <p>@ViewData["DATABASE"]</p>

                </div>

            </div>

        </div>

        <div class="col-md-3">

            <div class="card shadow h-100">

                <div class="card-body">

                    <h4>Development Tools</h4>

                    <p>@ViewData["DTOOLS"]</p>

                </div>

            </div>

        </div>

    </div>

</div>