<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>@ViewData["Title"] - WebApplication1</title>
    <script type="importmap"></script>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="~/css/site.css" asp-append-version="true"/>
    <link rel="stylesheet" href="~/WebApplication1.styles.css" asp-append-version="true"/>
</head>
<body>
    <div class="d-flex">

        <!-- Sidebar -->
        <div class="bg-dark text-white p-3" style="width:250px; min-height:100vh;">

            <h3 class="text-center">My Portfolio</h3>
            <hr>

            <ul class="nav flex-column">

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Index">Home</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="About">About Me</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Skills">Skills</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Project" ">Projects</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link text-white" asp-controller="Home" asp-action="Contact">Contact</a>
                </li>

            </ul>

        </div>
<div class="container">
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
</div>

<footer class="border-top footer text-muted">
    <div class="container-fluid p-4">
        &copy; 2026 - WebApplication1 - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
    </div>
</footer>
<script src="~/lib/jquery/dist/jquery.min.js"></script>
<script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/js/site.js" asp-append-version="true"></script>
@await RenderSectionAsync("Scripts", required: false)
</body>
</html>